* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  font-size: 2rem;
  margin: 3rem;
}

h4 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

section {
  padding: 30px 0;
  text-align: center;
}

/* Header */

.header-style {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.78);
  z-index: 99;
  padding: 10px;
  backdrop-filter: blur(20px);
}

.header-nav {
  width: 50%;
}

.header-menu {
  display: flex;
  justify-content: space-around;
}

.header-btn-sm-menu {
  display: none;
}

/* Banner */
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}

.banner-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

.banner-introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-title {
  font-size: 6rem;
  margin-bottom: 1rem;
}
.banner-subtitle {
  font-size: 3.5rem;
}

/* presentation */
.presentation-details {
  display: flex;
  padding-top: 10px;
  margin: 0 40px;
}

.presentation-img {
  width: 300px;
}

.presentation-text {
  align-self: center;
  margin: 20px;
}

/* Competences */
.skills {
  color: white;
  background: linear-gradient(to right, #220636, #3c075f, #250371, #54015a);
}

.skills-lists {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

.skills-article {
  height: 250px;
  width: 250px;
}

.skill-title {
  position: absolute;
  height: 250px;
  width: 250px;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.skills-icon {
  font-size: 3rem;
  margin: 15px;
}

.skill-details {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  color: black;
  opacity: 0;
  transition: 0.4s;
  cursor: default;
}

.skill-details li {
  margin-block: 10px;
}

.skills-article:hover .skill-details {
  opacity: 1;
}

/* projet */

.project {
  display: flex;
  padding: 40px;
  margin: 0 40px;
  height: 40vh;
  gap: 40px;
  background-color: rgb(237, 235, 235);
}

.light-reverse {
  background-color: white !important;
  flex-direction: row-reverse;
}

.project-img-container {
  height: 100%;
}

.project-img {
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.project-block {
  text-align: left;
}

.project-block p {
  margin-block: 15px;
}

/* Contact */

.form-container {
  margin-block: 30px;
}

input,
textarea {
  margin: 12px 0;
  padding: 12px;
}

.contact-info {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.contact-info a {
  margin-top: 5px;
}

.contact-info i {
  margin-right: 10px;
  transform: scale(1.5);
}

/* Footer */

.footer-style {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: linear-gradient(to right, #150322, #200432, #1a054c, #2a002d);
}

/* Responsive Tablette */
@media screen and (min-width: 426px) and (max-width: 780px) {
  .header-nav {
    width: 80%;
  }

  .banner-title {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  .banner-subtitle {
    font-size: 1.75rem;
  }

  .presentation-details {
    margin: 0 20px;
    align-items: center;
  }

  .presentation-img {
    height: 175px;
    width: 175px;
  }

  .skills-article {
    height: 125px;
    width: 125px;
  }

  .skill-title {
    height: 125px;
    width: 125px;
  }

  .skill-details li {
    margin-block: 5px;
    font-size: 14px;
  }

  .project {
    height: auto;
    margin: 0 20px;
    padding: 20px;
    align-items: center;
  }

  .project-img {
    height: 150px;
  }
}

/* Responsive Mobile */
@media screen and (max-width: 425px) {
  .header-style {
    height: 50px;
  }

  h3 {
    margin: 2rem;
  }

  header span {
    display: none;
  }

  .header-btn-sm-menu {
    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 999;
    color: black;
    transform: scale(1.5);
  }

  .header-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .active {
    display: flex;
  }

  /* Banner */

  .banner-title {
    font-size: 3rem;
  }
  .banner-subtitle {
    font-size: 1.5rem;
  }

  /* Presentation */
  .presentation-details {
    flex-direction: column;
    margin: 0;
  }

  .presentation-img {
    width: 250px;
    align-self: center;
  }

  /* skills */
  .skills-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .skills-article {
    height: 150px;
    width: 150px;
  }

  .skill-title {
    height: 150px;
    width: 150px;
  }

  .skills-icon {
    font-size: 2rem;
  }

  .skills-article:active .skill-details {
    opacity: 1;
  }

  /* portfolio */

  .project-img-container {
    height: auto;
  }

  .project {
    display: block;
    margin: 0 10px;
    padding: 15px;
    height: auto;
  }

  .project-img {
    margin: 15px;
    height: 150px;
  }
}
